@using System.Web.Optimization;
@using MML.Web.LoanCenter.Helpers
@using MML.Web.LoanCenter.Helpers.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name=”viewport” content=”width =device-width” />
    <title>@ViewBag.Title</title>
    @Styles.Render("/Content/fonts.css")
    @Styles.Render(string.Format("{0}/Content/iMPLayoutBootstrapCss-1.css?v=1", CDNHelper.CssStaticContentUrl))
    @RenderSection("OldHeader", required: false)
    @Styles.Render(string.Format("{0}/Content/iMPLayoutCss-1.css?v=1", CDNHelper.CssStaticContentUrl))
    @Styles.Render("/Content/angular-block-ui.css")
    @Styles.Render("/Content/FeaturesStyle.css")
    <link id="restApiRoot" href="@(System.Configuration.ConfigurationManager.AppSettings["RestApiRoot"])" />

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }

</head>
<body id='body' class="imp-body" ng-app="loanCenter">
    <div class="imp-body-container" id="impBodyContainer">
        @if (IsSectionDefined("SystemAdminHeader"))
        { @RenderSection("SystemAdminHeader")  }
        else
        {
            <div class="navbar navbar-fixed-top imp-main-bar" ui-view="navigation" id="divMainNavBar">
            </div>
        }
<div id="contextualBody" class="imp-contextual-body-container" ui-view="contextualBars">
</div>
        <div ui-view="appraisal">
            <div id="oldGridPlaceholder" style="display: none;" ng-show="navigation == 'Appraisal'">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("MainSection")
        @Html.Partial("_footer")
    </div>

    @if (IsSectionDefined("ScriptsFooter"))
    {
        @RenderSection("ScriptsFooter")

    }

    <script type="text/javascript" src="/Scripts/SessionSynchronization.js"></script>

    @if (@System.Configuration.ConfigurationManager.AppSettings["UseMinifiedJS"].ToLower() == "true")
    {
        @LCScripts.Render("Scripts/AngularJavascript.js?v=4")
        @LCScripts.Render("Scripts/LayoutAngularJavascript.js?v=4")
    }
    else
    {
        //@*@Scripts.Render(string.Format("{0}/Scripts/angular/angular.min.js", CDNHelper.JavaScriptStaticContentUrl))*@
        @*@Scripts.Render(string.Format("{0}/Scripts/angular/angular.js", CDNHelper.JavaScriptStaticContentUrl))*@
        @LCScripts.Render("Scripts/ui-router/0.2.13/angular-ui-router.min.js")
        //@LCScripts.Render("Scripts/AngularUI/ui-router.js")

        @LCScripts.Render("Scripts/angular-block-ui.js")
        @LCScripts.Render("Scripts/angular-grid/angularGrid.js")
        @LCScripts.Render("Scripts/jquery.signalR-2.2.0.js")
        @LCScripts.Render("Scripts/jquery.signalR-2.2.0.min.js")
        @LCScripts.Render("Scripts/Scripts/d3/d3.js")
        @LCScripts.Render("angular/common/integrations/encompass/encompass.module.js")
        @LCScripts.Render("angular/common/integrations/encompass/encompass.service.js")
         

        @LCScripts.Render("angular/common/common.objects.js")
        @LCScripts.Render("angular/common/common.string.js")
         @LCScripts.Render("angular/common/common.date.js")

        @LCScripts.Render("angular/common/httpstatusUI/ui.status.module.js")
        @LCScripts.Render("angular/common/httpstatusUI/http.ui.status.service.js")

        @LCScripts.Render("angular/ts/extendedViewModels/genericTypes.js")
        @LCScripts.Render("angular/ts/generated/viewModels.js")
        @LCScripts.Render("angular/ts/generated/viewModelBaseClasses.js")
        @LCScripts.Render("angular/ts/generated/viewModelClasses.js")
        @LCScripts.Render("angular/ts/extendedViewModels/transactionInfo.js")
        @LCScripts.Render("angular/ts/extendedViewModels/lookupItem.extendedViewModel.js")
        @LCScripts.Render("angular/ts/extendedViewModels/enums.extendedViewModel.js")
        @LCScripts.Render("angular/ts/extendedViewModels/lookupItem.extendedViewModel.js")
        @LCScripts.Render("angular/ts/extendedViewModels/extendedViewModels.js")
        @LCScripts.Render("angular/ts/extendedViewModels/transactionInfo.js")
        @LCScripts.Render("angular/ts/extendedViewModels/loan.extendedViewModel.js")

        @LCScripts.Render("angular/ts/extendedViewModels/loanApplication.extendedViewModel.js")
        @LCScripts.Render("angular/ts/extendedViewModels/borrower.extendedViewModel.js")

        @LCScripts.Render("angular/ts/extendedViewModels/employmentInfo.extendedViewModel.js")
        @LCScripts.Render("angular/ts/extendedViewModels/asset.extendedViewModel.js")
        @LCScripts.Render("angular/ts/extendedViewModels/property.extendedViewModel.js")
        @LCScripts.Render("angular/ts/extendedViewModels/incomeInfo.extendedViewModel.js")
        @LCScripts.Render("angular/ts/extendedViewModels/liability.extendedViewModel.js")
        @LCScripts.Render("angular/ts/extendedViewModels/housingExpenses.extendedViewModel.js")

        @LCScripts.Render("angular/ts/global/global.js")

        @* wysiwyg editor *@
        @LCScripts.Render("angular/common/tinyMCE/tinymce.js")
        @LCScripts.Render("angular/common/tinyMCE/tinyMCE.directive.js")


        @LCScripts.Render("angular/ts/lib/httpUtil.js")
        @LCScripts.Render("angular/ts/lib/http.blockui.js")
        @LCScripts.Render("angular/ts/lib/referenceWrapper.js")
        @LCScripts.Render("angular/ts/lib/common.util.js")
        @LCScripts.Render("angular/ts/lib/enum.util.js")
        @LCScripts.Render("angular/ts/lib/genericUtil.js")
        @LCScripts.Render("angular/ts/lib/flaggedEnum.js")

        @LCScripts.Render("angular/ts/generated/serviceProxies/MegaLoanService.js")
        @LCScripts.Render("angular/ts/generated/serviceProxies/DocVaultService.js")        
        @LCScripts.Render("angular/ts/generated/serviceProxies/SecureLinkEmailService.js")

        @LCScripts.Render("angular/loanevents/eventHandler.js")
        @LCScripts.Render("angular/loanevents/loanEvents.module.js")
        @LCScripts.Render("angular/loanevents/loanEvents.service.js")
        @LCScripts.Render("angular/loancalculator/loan.calculator.js")
        @LCScripts.Render("angular/ts/generated/serviceProxies/LoanCalculatorService.js")
        @LCScripts.Render("angular/ts/lib/IdentityGenerator.js")

        @LCScripts.Render("angular/common/common.module.js")
        @LCScripts.Render("angular/common/common.factory.js")
        @LCScripts.Render("angular/common/directives/common.ui.directives.js")
        @LCScripts.Render("angular/common/guid.service.js")
        @LCScripts.Render("angular/common/common.collections.js")
        @LCScripts.Render("angular/common/common.numeric.directive.js")
        @LCScripts.Render("angular/common/emailcontrol/email.directive.js")
        @LCScripts.Render("angular/common/common.durationYearsMonths.directive.js")

        @LCScripts.Render("angular/common/directives/modal.module.js")
        @LCScripts.Render("angular/common/directives/modal.directive.js")

        @LCScripts.Render("angular/common/calculator/calculator.module.js")
        @LCScripts.Render("angular/common/calculator/calculator.service.js")
        @LCScripts.Render("angular/common/impoundcalculator/impoundcalculator.module.js")
        @LCScripts.Render("angular/common/impoundcalculator/impoundcalculator.service.ts")
        @LCScripts.Render("angular/common/impoundcalculator/impoundcalculator.controller.js")
        @LCScripts.Render("angular/common/impoundcalculator/impoundcalculator.helpers.service.js")
        @LCScripts.Render("angular/common/modalpopover/modalpopover.module.js")
        @LCScripts.Render("angular/common/modalpopover/modalpopover.template.js")
        @LCScripts.Render("angular/common/modalpopover/modalpopover.provider.js")
        @LCScripts.Render("angular/common/modalpopover/modalpopover.factory.js")
        @LCScripts.Render("angular/common/simplemodalwindow/simplemodalwindow.module.js")
        @LCScripts.Render("angular/common/simplemodalwindow/simplemodalwindow.factory.js")
        @LCScripts.Render("angular/common/simplemodalwindow/simplemodalwindow.controller.js")
        @LCScripts.Render("angular/common/anchor.smooth.scroll.js")
        @*@Scripts.Render(string.Format("{0}/Scripts/ui-bootstrap/ui-bootstrap-tpls-0.12.0.min.js", CDNHelper.JavaScriptStaticContentUrl))*@
        @LCScripts.Render("Scripts/angular/angular-resource.min.js")
        @LCScripts.Render("Scripts/angular/angular-animate.min.js")
        @LCScripts.Render("Scripts/angular/angular-signalr-hub.js")
        @LCScripts.Render("Scripts/angular/angular-signalr-hub.min.js")
        @LCScripts.Render("angular/common/common.filters.js")
        @LCScripts.Render("angular/common/common.directives.js")
        @LCScripts.Render("angular/common/integrations/closingcost/closingcost.directive.js")
        @LCScripts.Render("angular/stipsandconditions2.0/conditionsangularapp.js")
        @LCScripts.Render("angular/loancenter/util.module.js")
        @LCScripts.Render("angular/loancenter/loancenter.core.module.js")
        @LCScripts.Render("angular/loancenter/loancenter.constants.js")
        @LCScripts.Render("angular/loancenter/loancenter.serviceprovider.js")
        @LCScripts.Render("angular/loancenter/loancenter.module.js")
        @LCScripts.Render("angular/loancenter/loancenter.config.js")
        @LCScripts.Render("angular/loancenter/loan.resolver.js")
        @LCScripts.Render("angular/loancenter/loan.service.js")
        @LCScripts.Render("angular/loancenter/applicationData.resolver.js")

        @LCScripts.Render("angular/loancenter/applicationData.service.js")
        @LCScripts.Render("angular/loancenter/applicationdata.service2.js")

        @LCScripts.Render("angular/loancenter/userAccountId.resolver.js")
        @LCScripts.Render("angular/loancenter/loancenter.broadcast.js")
        @LCScripts.Render("angular/loanapplication/loanApplication.module.js")
        @LCScripts.Render("angular/loanapplication/income/income.resolver.js")
        @LCScripts.Render("angular/loanapplication/personal/personal.resolver.js")
        @LCScripts.Render("angular/loanapplication/credit/credit.resolver.js")
        @LCScripts.Render("angular/navigation/navigation.controller.js")
        @LCScripts.Render("angular/navigation/navigation.services.js")
        @LCScripts.Render("angular/navigation/navigation.constants.js")
        @LCScripts.Render("angular/navigation/loanmenu.controller.js")
        @LCScripts.Render("angular/navigation/antisteering/antisteering.controller.js")
        @LCScripts.Render("angular/navigation/adverse/adverse.controller.js")
        @LCScripts.Render("angular/loanapplication/loanapplicationtab.controller.js")
        @LCScripts.Render("angular/contextualbar/contextualbar.module.js")
        @LCScripts.Render("angular/contextualbar/comparisonpdf/comparisonpdf.service.js")
        @LCScripts.Render("angular/contextualbar/contextualbar.service.js")
        @LCScripts.Render("angular/contextualbar/comparisonpdf/comparisonpdf.controller.js")
        @LCScripts.Render("angular/contextualbar/comparisonpdf/simplecontentmodal.controller.js")
        @LCScripts.Render("angular/contextualbar/contextualbar.controller.js")
        @LCScripts.Render("angular/contextualbar/contextualtitle/contextualtitle.controller.js")
        @LCScripts.Render("angular/contextualbar/details/contextualbardetails.controller.js")
        @LCScripts.Render("angular/contextualbar/costdetails/tolerance.directive.js")
        @LCScripts.Render("angular/contextualbar/costdetails/tolerance.select.directive.js")
        @LCScripts.Render("angular/contextualbar/costdetails/tolerance.modal.controller.js")
        @LCScripts.Render("angular/contextualbar/costdetails/tolerance.service.js")
        @LCScripts.Render("angular/contextualbar/costdetails/contextualbarcostdetails.controller.js")
        @LCScripts.Render("angular/contextualbar/contextualtabs/contextualbartabs.controller.js")
        @LCScripts.Render("angular/contextualbar/productandpricing/contextualbarproductandpricing.controller.js")
        @LCScripts.Render("angular/contextualbar/queue/contextualbarqueue.controller.js")
        @LCScripts.Render("angular/contextualbar/appraisal/appraisalcontextualbar.controller.js")
        @LCScripts.Render("angular/loanapplication/common/document/document.controller.js")
        @LCScripts.Render("angular/loanapplication/personal/personal.service.js")
        @LCScripts.Render("angular/loanapplication/personal/personal.js")
        @LCScripts.Render("angular/loanapplication/personal/personal.controller.js")
        @LCScripts.Render("angular/loanapplication/assets/assets.service.js")
        @LCScripts.Render("angular/loanapplication/assets/assets.utils.js")
        @LCScripts.Render("angular/loanapplication/assets/assets.controller.js")
        @LCScripts.Render("angular/loanapplication/property/property.constant.js")
        @LCScripts.Render("angular/loanapplication/property/property.service.js")
        @LCScripts.Render("angular/loanapplication/property/property.controller.js")
        @LCScripts.Render("angular/loanapplication/income/helpers/income.helpers.service.js")
        @LCScripts.Render("angular/loanapplication/income/income.service.js")
        @LCScripts.Render("angular/loanapplication/income/income.controller.js")
        @LCScripts.Render("angular/loanapplication/income/income.directives.js")
        @LCScripts.Render("angular/loanapplication/credit/credit.state.service.js")
        @LCScripts.Render("angular/loanapplication/credit/publicrecords/publicrecords.controller.js")
        @LCScripts.Render("angular/loanapplication/credit/liabilities/liabilities.controller.js")
        @LCScripts.Render("angular/loanapplication/credit/miscellaneousexpenses/miscexpenses.controller.js")
        @LCScripts.Render("angular/loanapplication/credit/realestate/realestate.controller.js")
        @LCScripts.Render("angular/loanapplication/credit/credit.service.js")
        @LCScripts.Render("angular/common/credit/creditext.service.js")
        @LCScripts.Render("angular/loanapplication/credit/helpers/credit.helpers.service.js")
        @LCScripts.Render("angular/loanapplication/credit/credit.enumerations.js")
        @LCScripts.Render("angular/loanapplication/credit/credit.occupancymtx.js")
        @LCScripts.Render("angular/loanapplication/credit/credit.controller.js")
        @LCScripts.Render("angular/loanapplication/credit/collections/collections.controller.js")
        @LCScripts.Render("angular/loanapplication/credit/realestate/realestateitem.controller.js")
        @LCScripts.Render("angular/loanapplication/credit/creditrunbutton/creditrunbtn.controller.js")
        @LCScripts.Render("angular/loanapplication/declarations/declarations.controller.js")
        @LCScripts.Render("angular/loanapplication/declarations/declarations.service.js")
        @LCScripts.Render("angular/loanapplication/declarations/declarations.utils.js")
        @LCScripts.Render("angular/common/addresscontrol/addresscontrol.directive.js")
        @LCScripts.Render("angular/common/address/address.directive.js")
        @LCScripts.Render("angular/common/templatecontrol/templatecontrol.directive.js")
        @LCScripts.Render("angular/common/zipcode/zipcode.service.js")
        @LCScripts.Render("angular/loanapplication/manageaccount/manageaccount.service.js")
        @LCScripts.Render("angular/loanapplication/manageaccount/accountstatus.directive.js")
        @LCScripts.Render("angular/common/directives/includereplace.directive.js")
        @LCScripts.Render("angular/common/directives/validateemail.directive.js")

        @LCScripts.Render("angular/common/calculator/calculator.module.js")
        @LCScripts.Render("angular/common/calculator/calculator.service.js")
        @LCScripts.Render("angular/loandetails/loandetails.module.js")
        @LCScripts.Render("angular/loandetails/loandetails.resolver.js")
        @LCScripts.Render("angular/loandetails/loandetails.service.js")
        @LCScripts.Render("angular/loandetails/loandetails.controller.js")
        @LCScripts.Render("angular/loandetails/loandetails.directives.js")
        @LCScripts.Render("angular/loandetails/sections/housingexpenses/housingexpenses.controller.js")
        @LCScripts.Render("angular/loandetails/calculator/calculator.service.js")
        @LCScripts.Render("angular/loandetails/calculator/calculator.controller.js")
        @LCScripts.Render("angular/loandetails/propertydetails/propertydetails.service.js")
        @LCScripts.Render("angular/loandetails/propertydetails/propertydetails.controller.js")
        @LCScripts.Render("angular/loandetails/appraisedvaluehistorypopup/appraisedvaluehistorypopup.service.js")
        @LCScripts.Render("angular/loandetails/appraisedvaluehistorypopup/appraisedvaluehistorypopup.controller.js")
        @LCScripts.Render("angular/loandetails/multiborrowerpopover/multiborrowerpopover.module.js")
        @LCScripts.Render("angular/loandetails/multiborrowerpopover/multiborrowerpopover.directive.js")
        @LCScripts.Render("angular/loandetails/housingexpense/housingexpense.controller.js")
        @LCScripts.Render("angular/loandetails/sections/sectionseven/sectionseven.controller.js")
        @LCScripts.Render("angular/loandetails/sections/propertyinfo/propertyinfo.controller.js")
        @LCScripts.Render("angular/loandetails/monthlyliabilities/monthlyliabilities.controller.js")
        @LCScripts.Render("angular/loandetails/monthlyincome/monthlyincome.controller.js")
        @LCScripts.Render("angular/loandetails/testmodeproductpopup/testmodeproductpopup.controller.js")
        @LCScripts.Render("angular/loandetails/compliancecheckpopup/compliancecheckpassedpopup.controller.js")
        @LCScripts.Render("angular/loandetails/compliancecheckpopup/compliancecheckfailedpopup.controller.js")
        @LCScripts.Render("angular/documents/documents.module.js")
        @LCScripts.Render("angular/documents/documents.routes.js")
        @LCScripts.Render("angular/documents/documents.service.js")
        @LCScripts.Render("angular/documents/documents.controller.js")
        @LCScripts.Render("angular/documents/docvault/docvault.module.js")
        @LCScripts.Render("angular/documents/docvault/docvault.service.js")
        @LCScripts.Render("angular/documents/docvault/docvault.resolver.js")
        @LCScripts.Render("angular/documents/docvault/docvault.controller.js")
        @LCScripts.Render("angular/documents/docvault/docvaultclassify.controller.js")
        @LCScripts.Render("angular/documents/needslist/needslist.controller.js")
        @LCScripts.Render("angular/documents/needslist/needslist.service.js")
        @LCScripts.Render("angular/mailroom/mailroom.module.js")
        @LCScripts.Render("angular/mailroom/mailroom.routes.js")
        @LCScripts.Render("angular/mailroom/mailroom.service.js")
        @LCScripts.Render("angular/mailroom/mailroom.resolver.js")
        @LCScripts.Render("angular/mailroom/mailroom.controller.js")
        @LCScripts.Render("angular/common/signalR/signalR.module.js")
        @LCScripts.Render("angular/common/signalR/signalR.factory.js")
        @LCScripts.Render("angular/costdetails/costdetails.module.js")
        @LCScripts.Render("angular/costdetails/costdetails.controller.js")
        @LCScripts.Render("angular/costdetails/costdetails.services.js")
        @LCScripts.Render("angular/costdetails/helpers/costdetails.helpers.service.js")
        @LCScripts.Render("angular/costdetails/costdetails.directives.js")
        @LCScripts.Render("angular/costdetails/costdetails.filters.js")
        @LCScripts.Render("angular/costdetails/transactionalsummary/owedDueTextFilter.filter.js");
        @LCScripts.Render("angular/costdetails/transactionalsummary/transactions.directive.js")
        @LCScripts.Render("angular/costdetails/transactionalsummary/transaction.row.directive.js")
        @LCScripts.Render("angular/costdetails/transactionalsummary/transactionalsummaryservice.js")
        @LCScripts.Render("angular/costdetails/transactionalsummary/transaction.subsection.directive.js");
        @LCScripts.Render("angular/costdetails/transactionalsummary/transaction.section.directive.js");
        @LCScripts.Render("angular/loanscenario/loanscenario.module.js")
        @LCScripts.Render("angular/loanscenario/loanscenario.service.js")
        @LCScripts.Render("angular/loanscenario/loanscenario.resolver.js")
        @LCScripts.Render("angular/loanscenario/loanscenario.controller.js")
        @LCScripts.Render("angular/pricingresults/pricingresults.module.js")
        @LCScripts.Render("angular/pricingresults/pricingresults.resolver.js")
        @LCScripts.Render("angular/pricingresults/pricingresults.service.js")
        @LCScripts.Render("angular/pricingresults/pricingresults.controller.js")
        @LCScripts.Render("angular/pricingresults/pricingresults.resolver.js")
        @LCScripts.Render("angular/aus/aus.module.js")
        @LCScripts.Render("angular/aus/aus.service.js")
        @LCScripts.Render("angular/aus/aus.resolver.js")
        @LCScripts.Render("angular/aus/aus.controller.js")
        @LCScripts.Render("angular/aus/du/du.resolver.js")
        @LCScripts.Render("angular/aus/du/du.controller.js")
        @LCScripts.Render("angular/aus/lp/lp.resolver.js")
        @LCScripts.Render("angular/aus/lp/lp.controller.js")
        @LCScripts.Render("angular/common/uploadfiles/uploadfiles.module.js")
        @LCScripts.Render("angular/common/uploadfiles/uploadfiles.controller.js")
        @LCScripts.Render("angular/common/uploadfiles/uploadfiles.service.js")
        @LCScripts.Render("angular/common/uploadfiles/uploadfiles.directive.js")
        @LCScripts.Render("angular/common/uploadfiles/importfnmfiles.controller.js")
        @LCScripts.Render("angular/common/uploadfiles/importfnmfiles.service.js")
        @LCScripts.Render("angular/complianceease/complianceease.module.js")
        @LCScripts.Render("angular/complianceease/complianceease.routes.js")
        @LCScripts.Render("angular/complianceease/complianceease.service.js")
        @LCScripts.Render("angular/complianceease/complianceease.controller.js")
        @LCScripts.Render("angular/ts/generated/enums.js")
        @LCScripts.Render("angular/lockingandpricingadj/lockingandpricingadj.module.js")
        @LCScripts.Render("angular/lockingandpricingadj/lockingandpricingadj.routes.js")
        @LCScripts.Render("angular/lockingandpricingadj/lockingandpricing.services.js")
        @LCScripts.Render("angular/lockingandpricingadj/lockingandpricing.controller.js")
        @LCScripts.Render("angular/preapprovalletters/preapprovalletters.module.js")
        @LCScripts.Render("angular/preapprovalletters/preapprovalletters.routes.js")
        @LCScripts.Render("angular/preapprovalletters/preapprovalletters.services.js")
        @LCScripts.Render("angular/preapprovalletters/preapprovalletters.controller.js")
        @LCScripts.Render("angular/preapprovalletters/preapprovalletters.preview.modal.controller.js")
        @LCScripts.Render("angular/queue/queue.module.js")
        @LCScripts.Render("angular/queue/queue.service.js")
        @LCScripts.Render("angular/queue/queue.resolver.js")
        @LCScripts.Render("angular/queue/queue.controller.js")
        @LCScripts.Render("angular/queue/queue.column.defs.js")
        @LCScripts.Render("angular/loanparticipants/loanparticipants.modal.controller.js")
        @LCScripts.Render("angular/loanparticipants/participants.table.js")
        @LCScripts.Render("angular/loanparticipants/loanparticipants.viewmodel.js")
        @LCScripts.Render("angular/loanparticipants/participant.row.js")
        @LCScripts.Render("angular/loanparticipants/loanparticipants.service.js")
        @LCScripts.Render("angular/common/commonmodalwindow/commonmodalwindow.factory.js")
        @LCScripts.Render("angular/common/commonmodalwindow/commonmodalwindow.controller.js")
        @LCScripts.Render("angular/common/columnoptions/columnoptions.service.js")
        @LCScripts.Render("angular/common/columnoptions/columnoptions.controller.js")
        @LCScripts.Render("angular/pricingresults/other/sharecomparisonmodal.controller.js")
        @LCScripts.Render("angular/assignments/assignments.module.js")
        @LCScripts.Render("angular/assignments/assignments.controller.js")
        @LCScripts.Render("angular/compliancecenter/compliancecenter.module.js")
        @LCScripts.Render("angular/compliancecenter/compliancecenter.controller.js")
        @LCScripts.Render("angular/compliancecenter/compliancecenter.routes.js")
        @LCScripts.Render("angular/compliancecenter/auditlog/auditlog.routes.js")
        @LCScripts.Render("angular/compliancecenter/auditlog/auditlog.controller.js")
        @LCScripts.Render("angular/compliancecenter/auditlog/auditlog.service.js")
        @LCScripts.Render("angular/common/errormodalwindow/errormodalwindow.factory.js")
        @LCScripts.Render("angular/common/errormodalwindow/errormodalwindow.controller.js")
        @LCScripts.Render("angular/common/integrations/digitaldoc/digitaldoc.module.js")
        @LCScripts.Render("angular/common/integrations/digitaldoc/digitaldoc.service.js")
        @LCScripts.Render("angular/common/integrations/integrations.common.module.js")
        @LCScripts.Render("angular/common/integrations/integrations.common.service.js")
        @LCScripts.Render("angular/common/itemizedpropertytaxcalculator/itemizedpropertytaxcalculator.js")
        @LCScripts.Render("angular/loandetails/lockdiclosuresmodals/lockconfirmation.modal.controller.js")

        @LCScripts.Render("angular/appraisal/appraisal.controller.js")

        @LCScripts.Render("angular/fhacenter/fhacenter.module.js")
        @LCScripts.Render("angular/fhacenter/fhacenter.routes.js")
        @LCScripts.Render("angular/fhacenter/fhacenter.service.js")
        @LCScripts.Render("angular/fhacenter/fhacenter.controller.js")
        @LCScripts.Render("angular/fhacenter/simplerefinance/simplerefinance.controller.js")
        @LCScripts.Render("angular/fhacenter/streamlinerefinance/streamlinerefinance.controller.js")
        @LCScripts.Render("angular/fhacenter/rateandtermrefinance/rateandtermrefinance.controller.js")
        @LCScripts.Render("angular/fhacenter/cashoutrefinance/cashoutrefinance.controller.js")
        @LCScripts.Render("angular/fhacenter/purchase/purchase.controller.js")
        @LCScripts.Render("angular/fhacenter/purchasedown/purchasedown.controller.js")

        @LCScripts.Render("angular/integrations/integrations.module.js")
        @LCScripts.Render("angular/integrations/integrations.routes.js")
        @LCScripts.Render("angular/integrations/integrations.service.js")
        @LCScripts.Render("angular/integrations/integrations.controller.js")

        @LCScripts.Render("angular/vacenter/vacenter.module.js")
        @LCScripts.Render("angular/vacenter/vacenter.routes.js")
        @LCScripts.Render("angular/vacenter/vacenter.service.js")
        @LCScripts.Render("angular/vacenter/vacenter.controller.js")
        @LCScripts.Render("angular/vacenter/generalinformation/generalinformation.controller.js")
        @LCScripts.Render("angular/vacenter/irrlmax/irrlmax.controller.js")
        @LCScripts.Render("angular/vacenter/irrlqmcertification/irrlqmcertification.controller.js")

        @LCScripts.Render("angular/copyloan/copyloan.module.js")
        @LCScripts.Render("angular/copyloan/copyloan.service.js")
        @LCScripts.Render("angular/copyloan/copyloan.controller.js")

        @LCScripts.Render("angular/securelinkemail/securelinkemail.module.js")
        @LCScripts.Render("angular/securelinkemail/securelinkemail.service.js")
        @LCScripts.Render("angular/securelinkemail/securelinkemail.controller.js")
        
        @LCScripts.Render("angular/ntbcenter/ntbcenter.module.js")
        @LCScripts.Render("angular/ntbcenter/ntbcenter.routes.js")
        @LCScripts.Render("angular/ntbcenter/ntbcenter.service.js")
        @LCScripts.Render("angular/ntbcenter/ntbcenter.controller.js")

        @LCScripts.Render("angular/usdacenter/usdacenter.module.js")
        @LCScripts.Render("angular/usdacenter/usdacenter.routes.js")
        @LCScripts.Render("angular/usdacenter/usdacenter.service.js")
        @LCScripts.Render("angular/usdacenter/usdacenter.controller.js")
        
        @LCScripts.Render("angular/common/directives/inputdirectives/inputdirectives.module.js")
        @LCScripts.Render("angular/common/directives/buttondirectives/buttondirectives.module.js")
        @LCScripts.Render("angular/common/directives/common/impdirectives.settings.js")
        @LCScripts.Render("angular/common/directives/inputdirectives/imptextarea/imptextarea.directive.js")
        @LCScripts.Render("angular/common/directives/inputdirectives/imptextbox/imptextbox.directive.js")
        @LCScripts.Render("angular/common/directives/buttondirectives/impaddbutton/impaddbutton.directive.js")
    }

</body>

</html>
